<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Taxi</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../templates/css/style.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <i class="fas fa-bars navbar-toggler" onclick="navbarBottomMenu()"></i>
        </a>
        <div class="">
            <ul class="navbar-nav ml-2 flex-row">
                <li class="nav-item ">
                    <a class="nav-link mr-2" data-target="#loginModal"> 
                        <i class="fas fa-user navbar-toggler"></i>
                    </a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" data-target="#registerModal"> 
                        <i class="fas fa-user-plus navbar-toggler"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="body-content">
        <ul class="body-items">
            <li>
                <a class="nav-link" href="#"> <i class="fas fa-taxi navbar-toggler" id="taxi-icon"></i> </a>
                <button type="button" class="btn btn-success" data-target="#solicitarModal">Solicitar</button>  
            </li>
        </ul>
        <hr class="bordas-dashed"/>
        <hr class="bordas-solid"/>
        <hr class="bordas-dashed"/>


         <!-- Modal para solicitar uma corrida -->
        <div class="modal" id="solicitarModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Conteúdo do modal -->
                        <p>Fazer Todo o processo para solicitar uma corridar</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success">Confirmar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

         <!-- Modal para login do usuario -->
        <div class="modal" id="loginModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Conteúdo do modal -->
                        <form>
                            <i class="fas fa-user navbar-toggler" id="taxi-icon"></i>
                            <div class="form-group">
                                <br />
                                <label for="email">Email</label><br />
                                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                                    placeholder="Email"><br />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label><br />
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="Password"><br />
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para registrar usuario -->
        <div class="modal" id="registerModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Conteúdo do modal -->
                        <form>
                            <i class="fas fa-user navbar-toggler" id="taxi-icon"></i>
                            <div class="form-group">
                                <br />
                                <label for="name">Name</label><br />
                                <input type="name" class="form-control" id="name" name="name" placeholder="Name"><br />
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label><br />
                                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                                    placeholder="Email"><br />
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label><br />
                                <input type="address" class="form-control" id="address" name="address" placeholder="Address"><br />
                            </div>
                            <div class="form-group">
                                <label for="birthdate">Date of Birth</label><br />
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="birthdate" name="birthdate">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label><br />
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="Password"><br />
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <p>© 2023 PSG. All rights reserved.</p>
        </div>
    </div>  
    <script>
        $(document).ready(function() {
            $('#birthdate').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src='../templates/js/app.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</body>
</html>